.navbar {
  padding: 2rem 0;
  background: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  top: 0;
}

.white_background {
  background-color: white;
  color: gray;
}
