.navbar {
  padding: 2rem 0;
  //   background: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  opacity: 30%;
}
