@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Oswald:wght@400&family=Pacifico&display=swap");

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Arvo", serif;
  font-size: 1.8rem;
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  z-index: 100;
}

h1 {
  font-size: 4rem;
  margin: 0 0.5rem 0 0;
  font-weight: 400;
}

.curve {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 5rem;
  color: white;
  z-index: 100;
}

.text--upper {
  transform: rotate(-10deg);
  text-transform: capitalize;
}

.text-white {
  color: white;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.p-2 {
  padding: 0 10px;
}
p {
  max-width: 70ch;
  z-index: 100;
}

.intro {
  display: grid;
  gap: 1;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
}
