.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.overlay {
  background-color: black;
  opacity: 60%;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.whiteIcon {
  display: block;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 3px solid rgb(128, 54, 54);
  position: absolute;
  bottom: -7%;
  left: 48%;
  right: 50%;
}

.icon_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_container {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 0 1rem;
  transition: background-color 0.5s ease-in;
  border: 2px solid red;
}
.icon_container:hover {
  background-color: red;
  cursor: pointer;
}

.intro {
  display: grid;
  gap: 1;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  position: relative;
}

.footerOverlay {
  background-color: black;
  opacity: 60%;
  min-height: 58vh;
  position: absolute;
  width: 100vw;
}

.p-2 {
  padding: 0 5px;
}
